.aside_menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--accent-color);
	max-width: 450px;
	width: 100%;
	padding-top: clamp(106px, 3vw, 140px);
	padding-left: clamp(20px, 3vw, 60px);
	padding-right: clamp(20px, 3vw, 60px);
	transform: translateX(100%);
	transition: transform var(--transit);

	&.show {
		transform: translateX(0);
	}

	&-btn {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 11px;
		line-height: 1.18;
		color: var(--white-color);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 23px;
		position: absolute;
		top: 30px;
		right: 60px;

		@media (max-width: 768px) {
			right: 22px;
			top: 26px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: var(--white-color);
			width: 36px;
			height: 3px;
			left: 0;
		}

		&::before {
			top: 0px;
		}

		&::after {
			bottom: 0px;
		}
	}

	&-big_list {
		font-size: 36px;
		line-height: 1.2;
		letter-spacing: 0;
		font-weight: 900;
		color: var(--white-color);
	}

	&-about_list {
		margin-bottom: 30px;
	}

	&-about_item {
		margin-bottom: 10px;

		@media (max-width: 768px) {
			margin-bottom: 0;
			line-height: 1;
		}
	}

	&-about_link {
		font-size: 20px;
		font-weight: 400;
		&.main {
			font-size: 36px;
			font-weight: 900;
		}
	}

	&-drop_list {
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		@media (max-width: 768px) {
			padding-bottom: 44px;
		}
	}

	&-drop_item {
		margin-bottom: 30px;
		@media (max-width: 768px) {
			margin-bottom: 17px;
		}
	}

	&-social_list {
		padding-top: 60px;
		display: flex;
		align-items: center;
		column-gap: 30px;
		@media (max-width: 768px) {
			column-gap: 20px;
			padding-top: 57px;
		}
	}
}
