.aside_menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 15;

	max-width: 28.124rem;
	width: 100%;
	height: 100vh;
	padding-top: clamp(6.624rem, 3vw, 8.74rem);
	padding-left: clamp(1.24rem, 2vw, 4.688rem);
	padding-right: clamp(1.24rem, 2vw, 4.688rem);
	padding-bottom: 30px;

	background-color: var(--accent-color);
	overflow-y: auto;

	transform: translateX(110%);
	transition: transform var(--transition);

	&.show {
		transform: translateX(0);

		& body {
			overflow: hidden;
		}
	}

	&-btn {
		position: absolute;
		width: 2.24rem;
		height: 1.438rem;
		top: 1.874rem;
		right: 3.74rem;

		display: flex;
		align-items: center;
		justify-content: center;

		text-transform: uppercase;
		font-weight: 900;
		font-size: 0.688rem;
		line-height: 1;
		color: var(--white-color);

		transition: opacity var(--transition);

		&:hover {
			opacity: 0.5;
		}

		@media (max-width: 48rem) {
			right: 1.374rem;
			top: 1.624rem;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: var(--white-color);
			width: 2.24rem;
			height: 3px;
			left: 0;
		}

		&::before {
			top: -1px;
		}

		&::after {
			bottom: 0;
		}
	}

	&-drop_list {
		display: flex;
		flex-direction: column;
		row-gap: 1.874rem;
		padding-bottom: 3.74rem;

		font-size: 2.24rem;
		line-height: 1.2;
		letter-spacing: 0;
		font-weight: 900;
		color: var(--white-color);

		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		@media (max-width: 48rem) {
			padding-bottom: 2.74rem;
		}
	}

	&-drop_item {
		transition: color var(--transition);

		&:hover {
			color: var(--hover-color);
		}

		@media (max-width: 48rem) {
			margin-bottom: 1.062;
		}
	}

	&-social_list {
		padding-top: 3.74rem;

		display: flex;
		align-items: center;
		column-gap: 1.875rem;

		@media (max-width: 48rem) {
			column-gap: 1.24rem;
			padding-top: 3.562rem;
		}
	}

	&-social_link {
		display: inline-block;
	}

	&-social_icon {
		width: 1.874rem;
		height: 1.874rem;

		fill: var(--white-color);

		transition: fill var(--transition);

		&:hover {
			fill: var(--hover-color);
		}
	}
}
