//------------------------------------------------------------base styles

:root {
	--accent-color: #017ee2;
	--white-color: #ffffff;
	--transition: 0.3s ease-in-out;
	--hover-color: #d1ed0d;
	--default-color: #212121;
}

html {
	min-height: 100%;
}

body {
	position: relative;

	min-height: 100%;
	// width: 100vw;

	font-family: 'Roboto', sans-serif;
	color: var(--default-color);
}

.container {
	max-width: 84.374rem;
	margin: 0 auto;
	padding: 0 1.24rem;
}

.logo {
	&-img {
		width: 15.8rem;
		@media (max-width: 3rem) {
			width: 13.24rem;
		}
	}
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: none;
	background: rgba(0, 0, 0, 0.5);
}

//------------------------------------------------------------base styles###
