.hero {
	position: relative;
	padding-top: 5rem;

	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	// height: calc(100vh - 5rem);

	@media (max-width: 48rem) {
		& .container {
			padding: 0 0;
		}
	}

	// &-picture {
	// 	width: 100%;
	// 	object-fit: cover;
	// }

	&-inner {
		padding-bottom: 3.74rem;

		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 5rem);

		@media (max-width: 48rem) {
			padding-bottom: 0;
		}
	}

	&-video_block {
		padding: 3.124rem;
		max-width: 43.74rem;
		margin-top: auto;

		z-index: 1;

		background-color: rgba(255, 255, 255, 0.9);

		@media (max-width: 48rem) {
			padding: 2.4rem 1.24rem;
			margin-bottom: 0;
		}

		& p {
			margin-bottom: 1.624rem;

			font-size: 1rem;
			line-height: 1.5;
			letter-spacing: 0.5px;

			@media (max-width: 48rem) {
				margin-bottom: 1.124rem;
			}
		}
	}

	&-title {
		margin-bottom: 0.625rem;

		font-size: clamp(2.5rem, 5vw, 3.125rem);
		font-weight: 900;
		text-transform: uppercase;
		color: var(--accent-color);
		line-height: 1;
	}

	&-video_btn {
		position: relative;
		width: 10.938rem;
		padding: 0.625rem 2.688rem;

		text-transform: uppercase;
		color: var(--accent-color);
		font-size: 0.938rem;
		line-height: 1.2;
		font-weight: 600;

		border: 1px solid transparent;
		border-radius: 0.75rem;

		background-color: var(--white-color);

		transition: color var(--transition);

		&:before {
			position: absolute;
			content: '';
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background: linear-gradient(270deg, #dff600 0%, #017ee2 100%);
			border-radius: 0.8rem;
			margin: -2px;
		}

		&:hover {
			color: var(--hover-color);
		}
	}
}
