<div class="aside_menu">
	<div class="aside_menu-inner">
		<button class="aside_menu-btn type="button">close</button>

		<ul class="aside_menu-drop_list">
			<li class="aside_menu-drop_item">
				<a class="aside_menu-drop_link" href="/">About Us</a>
			</li>
			<li class="aside_menu-drop_item">
				<a class="aside_menu-drop_link" href="/">Knowledge Hub</a>
			</li>
			<li class="aside_menu-drop_item">
				<a class="aside_menu-drop_link" href="/">Innovators Directory</a>
			</li>
			<li class="aside_menu-drop_item">
				<a class="aside_menu-drop_link" href="/">Application Portal</a>
			</li>
			<li class="aside_menu-drop_item">
				<a class="aside_menu-drop_link" href="/">News & Updates</a>
			</li>
		</ul>
		
		<ul class="aside_menu-social_list">
			<li class="aside_menu-social_item">
				<a
					class="aside_menu-social_link"
					href="http://instagram.com"
					target="_blank"
					rel="noopener noreferrer"
				>	
					<svg class="aside_menu-social_icon">
						<use href="images/sprite.svg#instagram"/>
					</svg>
				</a>
			</li>
			<li class="aside_menu-social_item">
				<a
					class="aside_menu-social_link"
					href="http://facebook.com"
					target="_blank"
					rel="noopener noreferrer"
				>
				<svg class="aside_menu-social_icon">
					<use href="images/sprite.svg#facebook"/>
				</svg>
					
				</a>
			</li>
			<li class="aside_menu-social_item">
				<a
					class="aside_menu-social_link"
					href="http://twitter.com"
					target="_blank"
					rel="noopener noreferrer"
				>
					<svg class="aside_menu-social_icon">
						<use href="images/sprite.svg#twitter"/>
					</svg>
					
				</a>
			</li>
		</ul>
	</div>

</div>
