<section class="hero">
	<!-- <picture class="hero-picture">
		<img src="images/background.jpg" alt="background image" />
	</picture> -->
	<div class="container">
		<div class="hero-inner">
			<div class="hero-video_block">
				<h1 class="hero-title">Re-imagining TB&nbsp;Care</h1>
				<p>
					Vestibulum id ligula porta felis euismod semper maecenas sed diam eget
					risus varius blandit sit amet non magna nullam id dolor id nibh
					ultricies.
				</p>
				<button class="hero-video_btn" type="button">play video</button>
			</div>
		</div>
	</div>
</section>
